:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(242, 212, 212, 0.792);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: linear-gradient(45deg, #390101, #a43030, #d46d6d, #edb9b9);
  animation: gradient 5s linear infinite;
  min-width: 320px;
  min-height: 100vh;
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

h1 {
  font-size: 5em;
  line-height: 1.8;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

.button-s {
  border-radius: 15px;
  border: 1px solid #d46d6d;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 700;
  font-family: inherit;
  background-color: #580505;
  color: rgba(242, 212, 212, 0.792);
  cursor: pointer;
  transition: background-color 0.75s;
}
.button-s:hover {
  background-color: #dd8c8c;
  border: 1px solid #d46d6d;
  box-shadow: 0 0 10px rgb(210, 167, 167);
}
.timer-input {
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  width: 180px;
  border-radius: 30px;
  border: 2px solid #e62727;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  transition: background-color 0.5s
    color 0.5s;
}

.button-r {
  border-radius: 15px;
  border: 3px solid #f01f1f;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 700;
  font-family: inherit;
  background-color: #580505;
  color: rgba(242, 212, 212, 0.792);
  cursor: pointer;
  transition: background-color 0.75s;
}
.button-r:hover {
  background-color: #dd8c8c;
  border: 3px solid #d46d6d;
  box-shadow: 0 0 10px rgb(210, 167, 167);
}
.clock{
  font-size: 5em;
  line-height: 1.8;
  color: rgb(238, 220, 220);
  cursor: pointer;
  transition: background-color 0.75s;
}






